<!DOCTYPE html>
 <!-- 
 @author: Guillermina Gonjon
 @application: GManon CMS
 @date: August 19, 2015
 @description: Simple Blog Template.
 @copyrights: All Rights Reserved 2015
 -->
<html>
	<head>
		<meta charset="UTF-8">
		<title><!--{ DOCUMENT_TITLE }--></title>
		<link rel="stylesheet" href="/templates/css/style.css" type="text/css" />
		<script src="/templates/js/application.js" lang="javascript" type="text/javascript"></script>

	</head>
	<body>
	<!-- Header and header menu -->
 <div id="side-panel">
    <div class="top"><a href="#"><img class="logo" src="images/gmanon.png"></a>
    <div class="top-menu"><!--{ TOP_MENU }--></div><div class="search"><!--{ SEARCH }--></div></div>
        <div class="menu"><!--{ MENU }--></div>
   </div>

		<div id="header" class="header">
			<!-- <span class="header"><!--{ HEADER }--> 
			</span> -->
		</div> 
<table border="0" width="100%" border="1"><tr><td class="main" width="70%">
	<!-- Article and Title -->
  <!-- Table division: new column starts -->
        <div id="content" class="content">
            
            
            <div id="main-image" class="main-image"><!--{ MAIN_IMAGE }-->
            <!--{ CAPTION }-->
        </div>

            </div>

                <div class="breadcrumbs"><!--{ BREADCRUMBS }--></div>
                <H2 id="page-title" class="page-title"><!--{ PAGE_TITLE }--></H2>
                <div class="author"><!--{ AUTHOR }--></div>
                <div class="date"><!--{ DATE }--></div>
                <!--{ CONTENT }-->
                <!--{ ARTICLES }-->
                <!--{ BLOG }-->
                <!--[ BLOG ]-->

            <span class="pagination"><!--{ PAGINATION }--></span>
        </div>
</td><td class="right_side" width="30%" valign="top">
<div id='sider'>
            <div id="side_menu" class="side_menu"><!--{ SIDE_MENU }--><br/>
                <div id="user_login" class="user_login"><!--{ USER_LOGIN }--></div><!--{ LOGIN_FORM }-->
            </div>
</td></tr></table>


	<!-- Forms -->
		<div id="form" class="form"><!--{ FORM }--></div>

	<!-- Comments -->
		<div id="comments" class="comments"><!--{ COMMENTS }--></div>

	<!-- Footer and footer menu -->

		<div id="footer" class="footer">
			<span class="footer"><!--{ FOOTER }--></span>
		<div class="menu"><!--{ FOOTER_MENU }--></div>
        <div class="copy"><!--{ COPY_RIGHTS }--></div></div>


	</body>
</html>
